@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

/* main {
    padding: 20px;
    overflow: auto;
} */

header {
    position: relative;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.12);
    font-size: 16px;
    height: 82px;
    background-color: #fff;
}

header .container {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative;
    flex: 1;
}

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

#logo {
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(224, 224, 224);
    height: 100%;
    vertical-align: top;
    padding-right: 35px;
    margin-right: 20px;
    height: 50px;
}

@media (max-width: 1099px)
#logo {
    border: none;
}

/* nav {
    background-color: #1672C4;
    padding: 5px;
    position: sticky;
    top: 0;
} */

/* nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
} */ 

/* nav a:hover {
    font-weight: bold;
} */

/* nav li {
    list-style-type: none;
    margin-right: 20px;
} */

/* #content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

@media screen and (max-width: 1000px){
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
} */