@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* header */
header {
    position: fixed;
    top: 0px;
    background-color: #00a2c6;
    font-weight: 400;
    color: white;
    font-size: 18px;
    width: 100%;
}

.header-logo {
    float: left;
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
}

.header-list {
    float: left;
}

.header-list ul li {
    display: inline-block;
}

.header-list ul li a {
    padding: 20px 10px;
    text-decoration: none;
    color: white;
}

.header-list li a:hover {
    background-color: rgba(231, 247, 247, 0.849);
    color: #7cdbf0;
}

/* main */
main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.profile img {
    width: 200px;
}

.profile-title {
    text-align: center;
}

table {
    font-size: 12px;
    margin: 0px auto;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}